Allow from all

# Set the cache-control max-age
<FilesMatch "\.(ico|flv|jpg|png|gif|swf)$">
	# 30 Days
	ExpiresActive off
	Header set Cache-Control "max-age=2592000, public"
</FilesMatch>

<FilesMatch "\.(xml|txt|css|js)$">
	# 1 Day
	Header set Cache-Control "max-age=86400, public, must-revalidate"
</FilesMatch>

<FilesMatch "\.(html|htm|pdf)$">
	# 4 Hours
	Header set Cache-Control "max-age=14400, must-revalidate"
</FilesMatch>

# Turn off the ETags
Header unset ETag
FileETag None

php_value output_handler ob_gzhandler

AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE text/javascript
AddOutputFilterByType DEFLATE image/jpg
AddOutputFilterByType DEFLATE image/jpeg
AddOutputFilterByType DEFLATE image/png