/* ===================================================== ANIMATION KEYFRAMES ===================================================== */
/* ===================================================== GENERIC ===================================================== */
#twist-debug,
#twist-debug-details {
  font-size: 13px;
  font-family: "Helvetica Neue Light", "Helvetica Neue", HelveticaNeue, Helvetica, "Open Sans", Arial, sans-serif;
  font-weight: 400;
  line-height: 1;
  font-style: normal; }
  #twist-debug *,
  #twist-debug-details * {
    margin: 0;
    padding: 0; }

/* ===================================================== DEBUG BAR ===================================================== */
#twist-debug {
  height: 30px;
  padding: 0 47px 0 0;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: visible;
  background-color: #424242;
  z-index: 1338; }
  #twist-debug::after {
    width: 10px;
    position: absolute;
    top: 0;
    right: 47px;
    bottom: 0;
    background: #424242;
    background: -moz-linear-gradient(0deg, rgba(66, 66, 66, 0) 0%, #424242 100%);
    background: -webkit-linear-gradient(0deg, rgba(66, 66, 66, 0) 0%, #424242 100%);
    background: -o-linear-gradient(0deg, rgba(66, 66, 66, 0) 0%, #424242 100%);
    background: -ms-linear-gradient(0deg, rgba(66, 66, 66, 0) 0%, #424242 100%);
    background: linear-gradient(90deg, rgba(66, 66, 66, 0) 0%, #424242 100%);
    content: ""; }

#twist-debug-icon {
  display: block;
  position: absolute;
  right: 10px;
  bottom: 5px;
  -webkit-transition: padding ease 400ms;
  transition: padding ease 400ms; }
  #twist-debug-icon:hover {
    padding-bottom: 3px;
    -webkit-transition: padding ease 50ms;
    transition: padding ease 50ms; }
  #twist-debug-icon img {
    width: 32px;
    display: block; }

#twist-debug-blocks {
  width: 100%;
  overflow: auto;
  list-style: none;
  white-space: nowrap; }
  #twist-debug-blocks > li {
    display: inline-block;
    font-size: 12px;
    border-right: 1px #757575 solid;
    			/*&::before {
    				width: 1px;
    				height: $bar-height;
    
    				display: block;
    
    				float: right;
    
    				background: $bar-border;
    				background: -moz-linear-gradient(left, $bar-border 0%, $bar-background 100%);
    				background: -webkit-gradient(linear, left top, right top, color-stop(0%, $bar-border), color-stop(100%, $bar-background));
    				background: -webkit-linear-gradient(left, $bar-border 0%, $bar-background 100%);
    				background: -o-linear-gradient(left, $bar-border 0%, $bar-background 100%);
    				background: -ms-linear-gradient(left, $bar-border 0%, $bar-background 100%);
    				background: linear-gradient(to right, $bar-border 0%, $bar-background 100%);
    				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$bar-border', endColorstr='$bar-background',GradientType=1);
    				//background: -moz-linear-gradient(left, $bar-border 50%, $bar-background 50%);
    				//background: -webkit-gradient(linear, left top, right top, color-stop(50%, $bar-border), color-stop(50%, $bar-background));
    				//background: -webkit-linear-gradient(left, $bar-border 50%, $bar-background 50%);
    				//background: -o-linear-gradient(left, $bar-border 50%, $bar-background 50%);
    				//background: -ms-linear-gradient(left, $bar-border 50%, $bar-background 50%);
    				//background: linear-gradient(to right, $bar-border 50%, $bar-background 50%);
    				//filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$bar-border', endColorstr='$bar-background', GradientType=1);
    
    				content: "";
    			}*/ }
    #twist-debug-blocks > li:first-child {
      border-right: none; }
      #twist-debug-blocks > li:first-child a {
        padding-right: 0px;
        padding-left: 0px; }
    #twist-debug-blocks > li:last-child {
      margin-right: 10px; }
    #twist-debug-blocks > li a {
      padding: 0 10px;
      display: block;
      color: #FFF;
      line-height: 30px;
      text-decoration: none;
      -webkit-transition: background ease 400ms;
      transition: background ease 400ms; }
      #twist-debug-blocks > li a:hover {
        background-color: #616161;
        -webkit-transition: background ease 100ms;
        transition: background ease 100ms; }
      #twist-debug-blocks > li a.current {
        background-color: #616161; }
    #twist-debug-blocks > li i {
      width: 1.3em;
      margin-right: 5px;
      display: inline-block;
      text-align: left; }
    #twist-debug-blocks > li .fa-stack-2x {
      text-shadow: 0 0 3px #424242; }

#twist-debug-errors,
#twist-debug-warnings,
#twist-debug-dumps {
  min-width: 8px;
  padding: 0 10px;
  display: inline-block;
  font-weight: 700;
  text-align: center;
  line-height: 30px; }

#twist-debug-errors {
  background-color: #D32F2F; }

#twist-debug-warnings {
  background-color: #FBC02D; }

#twist-debug-dumps {
  background-color: #1976D2; }

/* ===================================================== DETAILS WINDOW ===================================================== */
#twist-debug-details {
  position: fixed;
  top: 100%;
  right: 0;
  bottom: 30px;
  left: 0;
  background-color: #EEE;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transition: top ease 800ms;
  transition: top ease 800ms;
  z-index: 1337; }
  #twist-debug-details.show {
    top: 0; }
  #twist-debug-details > a {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2; }
    #twist-debug-details > a::before, #twist-debug-details > a::after {
      height: 1px;
      position: absolute;
      top: 12px;
      right: 0;
      left: 0;
      background-color: #FFF;
      content: ""; }
    #twist-debug-details > a::before {
      transform: rotate(45deg); }
    #twist-debug-details > a::after {
      transform: rotate(135deg); }
  #twist-debug-details > div {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1; }
    #twist-debug-details > div h6 {
      height: 25px;
      padding: 10px 65px 10px 20px;
      color: #FFF;
      font-size: 20px;
      line-height: 25px;
      background-color: #424242;
      z-index: 2; }
  #twist-debug-details th,
  #twist-debug-details td {
    padding: 0.5em 0.75em; }
  #twist-debug-details dt {
    margin-top: 0.5em;
    padding-top: 0.5em; }
    #twist-debug-details dt:first-child {
      margin-top: 0; }
  #twist-debug-details .twist-debug-column-wrapper {
    position: absolute;
    top: 45px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    z-index: 1; }
  #twist-debug-details [class^="twist-debug-column-"],
  #twist-debug-details [class*=" twist-debug-column-"] {
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left; }
  #twist-debug-details .twist-debug-column-100 {
    width: 100%;
    clear: both; }
  #twist-debug-details .twist-debug-column-50 {
    width: 50%; }

#twist-debug-messages [class^="twist-debug-message-"],
#twist-debug-messages [class*=" twist-debug-message-"] {
  margin-left: 4px;
  position: relative;
  overflow: visible;
  background-color: #FFF;
  border: 1px #E0E0E0 solid;
  border-left-width: 0; }
  #twist-debug-messages [class^="twist-debug-message-"]::before,
  #twist-debug-messages [class*=" twist-debug-message-"]::before {
    width: 4px;
    position: absolute;
    top: -1px;
    right: 100%;
    bottom: -1px;
    background-color: #1976D2;
    content: ""; }
  #twist-debug-messages [class^="twist-debug-message-"] + [class^="twist-debug-message-"],
  #twist-debug-messages [class^="twist-debug-message-"] + [class*=" twist-debug-message-"],
  #twist-debug-messages [class*=" twist-debug-message-"] + [class^="twist-debug-message-"],
  #twist-debug-messages [class*=" twist-debug-message-"] + [class*=" twist-debug-message-"] {
    margin-top: 20px; }
  #twist-debug-messages [class^="twist-debug-message-"] p,
  #twist-debug-messages [class*=" twist-debug-message-"] p {
    padding: 20px; }
#twist-debug-messages .twist-debug-message-warning::before {
  background-color: #FBC02D; }
#twist-debug-messages .twist-debug-message-error::before {
  background-color: #D32F2F; }

#twist-debug-timeline-chart {
  padding-top: 50px;
  position: relative;
  overflow: hidden; }
  #twist-debug-timeline-chart::before {
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    left: 200px;
    background-color: #F09;
    content: ""; }
  #twist-debug-timeline-chart ul {
    margin-top: 10px;
    padding-left: 200px; }
  #twist-debug-timeline-chart li {
    width: 195px;
    height: 10px;
    margin-left: -200px;
    padding-right: 5px;
    padding-bottom: 10px;
    display: block;
    position: relative;
    overflow: visible;
    text-align: right;
    line-height: 20px; }
    #twist-debug-timeline-chart li::after {
      height: 1000px;
      position: absolute;
      right: 0;
      bottom: 10px;
      border-right: 1px #000 solid;
      content: ""; }

#twist-debug-database [class^="twist-debug-query-"],
#twist-debug-database [class*=" twist-debug-query-"] {
  margin-left: 4px;
  position: relative;
  overflow: visible;
  background-color: #FFF;
  border: 1px #E0E0E0 solid;
  border-left-width: 0; }
  #twist-debug-database [class^="twist-debug-query-"]::before,
  #twist-debug-database [class*=" twist-debug-query-"]::before {
    width: 4px;
    position: absolute;
    top: -1px;
    right: 100%;
    bottom: -1px;
    background-color: #FBC02D;
    content: ""; }
  #twist-debug-database [class^="twist-debug-query-"] + [class^="twist-debug-query-"],
  #twist-debug-database [class^="twist-debug-query-"] + [class*=" twist-debug-query-"],
  #twist-debug-database [class*=" twist-debug-query-"] + [class^="twist-debug-query-"],
  #twist-debug-database [class*=" twist-debug-query-"] + [class*=" twist-debug-query-"] {
    margin-top: 20px; }
  #twist-debug-database [class^="twist-debug-query-"] pre,
  #twist-debug-database [class*=" twist-debug-query-"] pre {
    width: 100%;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto; }
#twist-debug-database .twist-debug-query-success::before {
  background-color: #689F38; }
#twist-debug-database .twist-debug-query-fail::before {
  background-color: #D32F2F; }

/*.hairlines,
.hairlines2 {
	#twist-debug-blocks {
		> li {
			border-right-width: 0.5px;
		}
	}
}*/

/*# sourceMappingURL=twist-debug.css.map */
