@charset "UTF-8";

// ===================================================== VARIABLES =====================================================
$bar-height: 30px;
$bar-logo-width: 32px;
$bar-fade-width: 10px;
$bar-background: #424242;
$bar-background-hover: #616161;
$bar-border: #757575;
$details-background: #EEE;
$z-index: 1337;

// ===================================================== MIXINS =====================================================
@mixin keyframes($strName) {
	@-webkit-keyframes #{$strName} {
		@content
	}

	@-moz-keyframes #{$strName} {
		@content;
	}

	@-ms-keyframes #{$strName} {
		@content;
	}

	@-o-keyframes #{$strName} {
		@content;
	}

	@keyframes #{$strName} {
		@content;
	}
}

@function blackorwhite($colour) {
	@return if(lightness($colour) > 50, #212121, #FFF);
}

@mixin animate($name, $time, $delay) {
	//-webkit-animation: $name $time infinite;
	-webkit-animation: $name $time 1;
	-webkit-animation-delay: $delay;
	-webkit-animation-fill-mode: forwards;
	//-moz-animation: $name $time infinite;
	-moz-animation: $name $time 1;
	-moz-animation-delay: $delay;
	-moz-animation-fill-mode: forwards;
	//-ms-animation: $name $time infinite;
	-ms-animation: $name $time 1;
	-ms-animation-delay: $delay;
	-ms-animation-fill-mode: forwards;
	//-o-animation: $name $time infinite;
	-o-animation: $name $time 1;
	-o-animation-delay: $delay;
	-o-animation-fill-mode: forwards;
	//animation: $name $time infinite;
	animation: $name $time 1;
	animation-delay: $delay;
	animation-fill-mode: forwards;
}

/* ===================================================== ANIMATION KEYFRAMES ===================================================== */
// https://github.com/daneden/animate.css
@include keyframes(bounceInLeft) {
	0%, 60%, 75%, 90%, 100% { transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); }
	0% {
		opacity: 0;
		transform: translate3d(-1000px, 0, 0);
	}
	60% {
		opacity: 1;
		transform: translate3d(12px, 0, 0);
	}
	75% { transform: translate3d(-5px, 0, 0); }
	90% { transform: translate3d(2px, 0, 0); }
	100% { transform: none; }
}

/* ===================================================== GENERIC ===================================================== */
#twist-debug,
#twist-debug-details {
	* {
		margin: 0;
		padding: 0;
	}
}

/* ===================================================== DEBUG BAR ===================================================== */
#twist-debug {
	height: $bar-height;
	padding: 0 #{$bar-logo-width + 15} 0 0;

	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;

	overflow: visible;

	font-size: 10px;
	font-family: "Helvetica Neue Light", "Helvetica Neue", HelveticaNeue, Helvetica, "Open Sans", Arial, sans-serif;
	font-weight: 400;
	font-style: normal;

	background-color: $bar-background;

	border-top: 0.5px $bar-border solid;

	z-index: $z-index + 1;

	&::after {
		width: $bar-fade-width;

		position: absolute;
		top: 0;
		right: #{$bar-logo-width + 15};
		bottom: 0;

		background: $bar-background;
		background: -moz-linear-gradient(0deg, rgba($bar-background, 0) 0%, rgba($bar-background, 1) 100%);
		background: -webkit-linear-gradient(0deg, rgba($bar-background, 0) 0%, rgba($bar-background, 1) 100%);
		background: -o-linear-gradient(0deg, rgba($bar-background, 0) 0%, rgba($bar-background, 1) 100%);
		background: -ms-linear-gradient(0deg, rgba($bar-background, 0) 0%, rgba($bar-background, 1) 100%);
		background: linear-gradient(90deg, rgba($bar-background, 0) 0%, rgba($bar-background, 1) 100%);

		content: "";
	}
}

	#twist-debug-icon {
		display: block;

		position: absolute;
		right: 10px;
		bottom: 5px;

		-webkit-transition: padding ease 400ms;
		transition: padding ease 400ms;

		&:hover {
			padding-bottom: 3px;

			-webkit-transition: padding ease 100ms;
			transition: padding ease 100ms;
		}

		img {
			width: $bar-logo-width;

			display: block;
		}
	}

	#twist-debug-blocks {
		width: 100%;

		overflow: auto;

		list-style: none;
		white-space: nowrap;

		> li {
			display: inline-block;

			font-size: 1.25em;

			border-right: 0.5px $bar-border solid;

			&:last-child {
				margin-right: $bar-fade-width;
			}

			> a {
				padding: 0 10px;

				display: block;

				color: blackorwhite($bar-background);
				line-height: $bar-height;
				text-decoration: none;

				-webkit-transition: background ease 400ms;
				transition: background ease 400ms;

				&:hover {
					background-color: $bar-background-hover;

					-webkit-transition: background ease 100ms;
					transition: background ease 100ms;
				}

				&.current {
					background-color: $bar-background-hover;
				}
			}

			i {
				margin-right: 5px;
			}

			.fa-stack-2x {
				text-shadow: 0 0 3px $bar-background;
			}
		}
	}

			#twist-debug-errors,
			#twist-debug-warnings,
			#twist-debug-dumps {
				min-width: 8px;
				padding: 0 5px;

				display: inline-block;

				font-weight: 700;
				text-align: center;
				line-height: 18px;

				border-radius: 2px;
				//border-radius: 9px 2px 2px 9px;

				transform: translate3d(-3000px, 0, 0);
			}

			#twist-debug-errors,
			#twist-debug-warnings {
				margin-right: 5px;
			}

			#twist-debug-errors {
				background-color: #D32F2F;
				@include animate(bounceInLeft, 1s, 0);
			}

			#twist-debug-warnings {
				background-color: #FBC02D;
				@include animate(bounceInLeft, 1s, 100ms);
			}

			#twist-debug-dumps {
				//background-color: #0288D1;
				background-color: #1976D2;
				@include animate(bounceInLeft, 1s, 200ms);
			}

/* ===================================================== DETAILS WINDOW ===================================================== */
#twist-debug-details {
	position: fixed;
	top: 100%;
	right: 0;
	bottom: $bar-height;
	left: 0;

	background-color: $details-background;

	z-index: $z-index;

	&.show {
		top: 0;
	}

	> a {
		width: 25px;
		height: 25px;

		position: absolute;
		top: 20px;
		right: 20px;

		z-index: $z-index + 1;

		&::before,
		&::after {
			height: 1px;

			position: absolute;
			top: 12px;
			right: 0;
			left: 0;

			background-color: $bar-background;

			content: "";
		}

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(135deg);
		}
	}

	> div {
		display: none;

		position: absolute;
		top: 20px;
		right: 45px;
		bottom: 20px;
		left: 10px;

		h6 {}

		z-index: $z-index;
	}
}

	#twist-debug-messages {}

	#twist-debug-timeline {
		padding-right: 10px;
		padding-left: 10px;
	}

		#twist-debug-timeline-chart {
			padding-top: 50px;

			position: relative;

			overflow: hidden;

			&::before {
				height: 50px;

				position: absolute;
				top: 0;
				right: 0;
				left: 200px;

				background-color: #F90;

				content: "";
			}

			ul {
				margin-top: 20px;
				padding-left: 200px;
			}

				li {
					width: 190px;
					height: 10px;
					margin-left: -200px;
					padding-right: 10px;
					padding-bottom: 10px;

					display: block;

					position: relative;

					overflow: visible;

					text-align: right;
					line-height: 20px;

					//background-color: #F09;

					&::after {
						height: 1000px;

						position: absolute;
						right: 0;
						bottom: 10px;

						border-right: 1px #000 solid;

						content: "";
					}
				}
		}

	#twist-debug-memory {}

	#twist-debug-database {}

	#twist-debug-route {}

/*.hairlines,
.hairlines2 {
	#twist-debug-blocks {
		> li {
			border-right-width: 0.5px;
		}
	}
}*/