/* ===================================================== ANIMATION KEYFRAMES ===================================================== */
/* ===================================================== GENERIC ===================================================== */
#twist-debug,
#twist-debug-details {
  font-size: 13px;
  font-family: "Helvetica Neue Light", "Helvetica Neue", HelveticaNeue, Helvetica, "Open Sans", Arial, sans-serif;
  font-weight: 400;
  line-height: 1;
  font-style: normal; }
  #twist-debug *,
  #twist-debug-details * {
    margin: 0;
    padding: 0;
    color: inherit;
    text-align: inherit;
    direction: inherit;
    text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-rendering: optimizeLegibility; }
  #twist-debug h1, #twist-debug h2, #twist-debug h3, #twist-debug h4, #twist-debug h5, #twist-debug h6, #twist-debug p, #twist-debug ul, #twist-debug ol, #twist-debug li, #twist-debug dl, #twist-debug dt, #twist-debug dd, #twist-debug a, #twist-debug span, #twist-debug em, #twist-debug strong, #twist-debug pre,
  #twist-debug-details h1,
  #twist-debug-details h2,
  #twist-debug-details h3,
  #twist-debug-details h4,
  #twist-debug-details h5,
  #twist-debug-details h6,
  #twist-debug-details p,
  #twist-debug-details ul,
  #twist-debug-details ol,
  #twist-debug-details li,
  #twist-debug-details dl,
  #twist-debug-details dt,
  #twist-debug-details dd,
  #twist-debug-details a,
  #twist-debug-details span,
  #twist-debug-details em,
  #twist-debug-details strong,
  #twist-debug-details pre {
    color: inherit;
    line-height: inherit; }
  #twist-debug h1, #twist-debug h2, #twist-debug h3, #twist-debug h4, #twist-debug h5, #twist-debug h6, #twist-debug strong,
  #twist-debug-details h1,
  #twist-debug-details h2,
  #twist-debug-details h3,
  #twist-debug-details h4,
  #twist-debug-details h5,
  #twist-debug-details h6,
  #twist-debug-details strong {
    font-weight: 700; }
  #twist-debug ul,
  #twist-debug-details ul {
    list-style: disc outside; }
  #twist-debug ol,
  #twist-debug-details ol {
    list-style: decimal outside; }
  #twist-debug sub,
  #twist-debug sup,
  #twist-debug small,
  #twist-debug-details sub,
  #twist-debug-details sup,
  #twist-debug-details small {
    font-size: smaller; }
  #twist-debug ul ul,
  #twist-debug ol ul,
  #twist-debug ul ol,
  #twist-debug ol ol,
  #twist-debug-details ul ul,
  #twist-debug-details ol ul,
  #twist-debug-details ul ol,
  #twist-debug-details ol ol {
    font-size: 1em; }
  #twist-debug img,
  #twist-debug-details img {
    display: inline-block; }
  #twist-debug a img,
  #twist-debug-details a img {
    border: none; }
  #twist-debug input,
  #twist-debug button,
  #twist-debug-details input,
  #twist-debug-details button {
    -webkit-font-smoothing: antialiased; }
  #twist-debug .twist-debug-hidden,
  #twist-debug-details .twist-debug-hidden {
    display: none !important; }

/* ===================================================== DEBUG BAR ===================================================== */
#twist-debug {
  height: 30px;
  padding: 0 47px 0 0;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: visible;
  background-color: #424242;
  z-index: 1338; }
  #twist-debug::after {
    width: 10px;
    position: absolute;
    top: 0;
    right: 47px;
    bottom: 0;
    background: #424242;
    background: -moz-linear-gradient(0deg, rgba(66, 66, 66, 0) 0%, #424242 100%);
    background: -webkit-linear-gradient(0deg, rgba(66, 66, 66, 0) 0%, #424242 100%);
    background: -o-linear-gradient(0deg, rgba(66, 66, 66, 0) 0%, #424242 100%);
    background: -ms-linear-gradient(0deg, rgba(66, 66, 66, 0) 0%, #424242 100%);
    background: linear-gradient(90deg, rgba(66, 66, 66, 0) 0%, #424242 100%);
    content: ""; }

#twist-debug-icon {
  display: block;
  position: absolute;
  right: 10px;
  bottom: 5px;
  -webkit-transition: padding ease 400ms;
  transition: padding ease 400ms; }
  #twist-debug-icon:hover {
    padding-bottom: 3px;
    -webkit-transition: padding ease 50ms;
    transition: padding ease 50ms; }
  #twist-debug-icon img {
    width: 32px;
    display: block; }

#twist-debug-blocks {
  width: 100%;
  overflow: auto;
  list-style: none;
  white-space: nowrap; }
  #twist-debug-blocks > li {
    display: inline-block;
    font-size: 12px;
    border-right: 1px #757575 solid;
    			/*&::before {
    				width: 1px;
    				height: $bar-height;
    
    				display: block;
    
    				float: right;
    
    				background: $bar-border;
    				background: -moz-linear-gradient(left, $bar-border 0%, $bar-background 100%);
    				background: -webkit-gradient(linear, left top, right top, color-stop(0%, $bar-border), color-stop(100%, $bar-background));
    				background: -webkit-linear-gradient(left, $bar-border 0%, $bar-background 100%);
    				background: -o-linear-gradient(left, $bar-border 0%, $bar-background 100%);
    				background: -ms-linear-gradient(left, $bar-border 0%, $bar-background 100%);
    				background: linear-gradient(to right, $bar-border 0%, $bar-background 100%);
    				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$bar-border', endColorstr='$bar-background',GradientType=1);
    				//background: -moz-linear-gradient(left, $bar-border 50%, $bar-background 50%);
    				//background: -webkit-gradient(linear, left top, right top, color-stop(50%, $bar-border), color-stop(50%, $bar-background));
    				//background: -webkit-linear-gradient(left, $bar-border 50%, $bar-background 50%);
    				//background: -o-linear-gradient(left, $bar-border 50%, $bar-background 50%);
    				//background: -ms-linear-gradient(left, $bar-border 50%, $bar-background 50%);
    				//background: linear-gradient(to right, $bar-border 50%, $bar-background 50%);
    				//filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$bar-border', endColorstr='$bar-background', GradientType=1);
    
    				content: "";
    			}*/ }
    #twist-debug-blocks > li:first-child {
      border-right: none; }
      #twist-debug-blocks > li:first-child a {
        padding-right: 0px;
        padding-left: 0px; }
    #twist-debug-blocks > li:last-child {
      margin-right: 10px; }
    #twist-debug-blocks > li a {
      padding: 0 10px;
      display: block;
      color: #FFF;
      line-height: 30px;
      text-decoration: none;
      -webkit-transition: background ease 400ms;
      transition: background ease 400ms; }
      #twist-debug-blocks > li a:hover {
        background-color: #616161;
        -webkit-transition: background ease 100ms;
        transition: background ease 100ms; }
      #twist-debug-blocks > li a.current {
        background-color: #616161; }
      #twist-debug-blocks > li a i {
        width: 1.3em;
        margin-right: 5px;
        display: inline-block;
        color: inherit;
        text-align: left; }
    #twist-debug-blocks > li .fa-stack-2x {
      text-shadow: 0 0 3px #424242; }

#twist-debug-errors,
#twist-debug-warnings,
#twist-debug-dumps {
  min-width: 8px;
  padding: 0 10px;
  display: inline-block;
  font-weight: 700;
  text-align: center;
  line-height: 30px; }

#twist-debug-errors {
  background-color: #D32F2F; }

#twist-debug-warnings {
  background-color: #FBC02D; }

#twist-debug-dumps {
  background-color: #1976D2; }

/* ===================================================== DETAILS WINDOW ===================================================== */
#twist-debug-details {
  position: fixed;
  top: 100%;
  right: 0;
  bottom: 30px;
  left: 0;
  background-color: #EEE;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transition: top ease 800ms;
  transition: top ease 800ms;
  z-index: 1337; }
  #twist-debug-details.show {
    top: 0; }
  #twist-debug-details > a {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2; }
    #twist-debug-details > a::before, #twist-debug-details > a::after {
      height: 1px;
      position: absolute;
      top: 12px;
      right: 0;
      left: 0;
      background-color: #E0E0E0;
      content: ""; }
    #twist-debug-details > a::before {
      transform: rotate(45deg); }
    #twist-debug-details > a::after {
      transform: rotate(135deg); }
    #twist-debug-details > a:hover::before, #twist-debug-details > a:hover::after {
      background-color: #FFF; }
  #twist-debug-details > div {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1; }
    #twist-debug-details > div h6 {
      height: 25px;
      padding: 10px 65px 10px 20px;
      color: #FFF;
      font-size: 20px;
      line-height: 25px;
      background-color: #424242;
      z-index: 2; }
  #twist-debug-details th,
  #twist-debug-details td {
    padding: 0.5em 0.75em; }
  #twist-debug-details dt {
    margin-top: 0.5em;
    padding-top: 0.5em; }
    #twist-debug-details dt:first-child {
      margin-top: 0; }
  #twist-debug-details .twist-debug-column-wrapper {
    position: absolute;
    top: 45px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    z-index: 1; }
  #twist-debug-details [class^="twist-debug-column-"],
  #twist-debug-details [class*=" twist-debug-column-"] {
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left; }
  #twist-debug-details .twist-debug-column-100 {
    width: 100%;
    clear: both; }
  #twist-debug-details .twist-debug-column-50 {
    width: 50%; }
  #twist-debug-details .twist-debug-column-33 {
    width: 33.33333%; }
  #twist-debug-details .twist-debug-column-25 {
    width: 25%; }
  #twist-debug-details .twist-debug-column-clear {
    padding: 0;
    display: block;
    float: none;
    clear: both; }
  #twist-debug-details .twist-debug-box,
  #twist-debug-details [class^="twist-debug-box-"],
  #twist-debug-details [class*=" twist-debug-box-"] {
    margin-left: 4px;
    position: relative;
    overflow: visible;
    color: #212121;
    background-color: #FFF;
    border: 1px #E0E0E0 solid;
    border-left-width: 0;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05); }
    #twist-debug-details .twist-debug-box[data-title],
    #twist-debug-details [class^="twist-debug-box-"][data-title],
    #twist-debug-details [class*=" twist-debug-box-"][data-title] {
      border-top-width: 0; }
      #twist-debug-details .twist-debug-box[data-title]::before,
      #twist-debug-details [class^="twist-debug-box-"][data-title]::before,
      #twist-debug-details [class*=" twist-debug-box-"][data-title]::before {
        margin-right: -1px;
        padding: 10px 10px 0;
        display: block;
        float: right;
        color: #BDBDBD;
        font-size: 14px;
        text-align: right;
        font-style: italic;
        content: attr(data-title); }
      #twist-debug-details .twist-debug-box[data-title]::after,
      #twist-debug-details [class^="twist-debug-box-"][data-title]::after,
      #twist-debug-details [class*=" twist-debug-box-"][data-title]::after {
        top: 0; }
    #twist-debug-details .twist-debug-box::after,
    #twist-debug-details [class^="twist-debug-box-"]::after,
    #twist-debug-details [class*=" twist-debug-box-"]::after {
      width: 4px;
      position: absolute;
      top: -1px;
      right: 100%;
      bottom: -1px;
      background-color: #757575;
      content: ""; }
    #twist-debug-details .twist-debug-box > a.twist-debug-more-details,
    #twist-debug-details [class^="twist-debug-box-"] > a.twist-debug-more-details,
    #twist-debug-details [class*=" twist-debug-box-"] > a.twist-debug-more-details {
      height: 20px;
      display: block;
      color: #BDBDBD;
      font-size: 20px;
      text-decoration: none;
      text-align: center;
      line-height: 1;
      border-top: 1px #EEE solid;
      			/*-webkit-transition: line-height ease 400ms;
      			transition: line-height ease 400ms;
      
      			&:hover {
      				line-height: 2;
      
      				-webkit-transition: line-height ease 100ms;
      				transition: line-height ease 100ms;
      			}*/ }
      #twist-debug-details .twist-debug-box > a.twist-debug-more-details:hover,
      #twist-debug-details [class^="twist-debug-box-"] > a.twist-debug-more-details:hover,
      #twist-debug-details [class*=" twist-debug-box-"] > a.twist-debug-more-details:hover {
        color: #212121; }
    #twist-debug-details .twist-debug-box + .twist-debug-box,
    #twist-debug-details .twist-debug-box + [class^="twist-debug-box-"],
    #twist-debug-details .twist-debug-box + [class*=" twist-debug-box-"],
    #twist-debug-details [class^="twist-debug-box-"] + .twist-debug-box,
    #twist-debug-details [class^="twist-debug-box-"] + [class^="twist-debug-box-"],
    #twist-debug-details [class^="twist-debug-box-"] + [class*=" twist-debug-box-"],
    #twist-debug-details [class*=" twist-debug-box-"] + .twist-debug-box,
    #twist-debug-details [class*=" twist-debug-box-"] + [class^="twist-debug-box-"],
    #twist-debug-details [class*=" twist-debug-box-"] + [class*=" twist-debug-box-"] {
      margin-top: 20px; }
    #twist-debug-details .twist-debug-box div.twist-debug-more-details,
    #twist-debug-details [class^="twist-debug-box-"] div.twist-debug-more-details,
    #twist-debug-details [class*=" twist-debug-box-"] div.twist-debug-more-details {
      padding: 20px 20px 40px;
      display: none;
      position: relative;
      overflow: hidden; }
      #twist-debug-details .twist-debug-box div.twist-debug-more-details::before, #twist-debug-details .twist-debug-box div.twist-debug-more-details::after,
      #twist-debug-details [class^="twist-debug-box-"] div.twist-debug-more-details::before,
      #twist-debug-details [class^="twist-debug-box-"] div.twist-debug-more-details::after,
      #twist-debug-details [class*=" twist-debug-box-"] div.twist-debug-more-details::before,
      #twist-debug-details [class*=" twist-debug-box-"] div.twist-debug-more-details::after {
        height: 20px;
        position: absolute;
        right: 0;
        left: 0;
        background-color: #FFF;
        border-radius: 100%;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
        content: ""; }
      #twist-debug-details .twist-debug-box div.twist-debug-more-details::before,
      #twist-debug-details [class^="twist-debug-box-"] div.twist-debug-more-details::before,
      #twist-debug-details [class*=" twist-debug-box-"] div.twist-debug-more-details::before {
        top: -21px; }
      #twist-debug-details .twist-debug-box div.twist-debug-more-details::after,
      #twist-debug-details [class^="twist-debug-box-"] div.twist-debug-more-details::after,
      #twist-debug-details [class*=" twist-debug-box-"] div.twist-debug-more-details::after {
        bottom: -23px; }
      #twist-debug-details .twist-debug-box div.twist-debug-more-details > :first-child,
      #twist-debug-details .twist-debug-box div.twist-debug-more-details > :last-child,
      #twist-debug-details [class^="twist-debug-box-"] div.twist-debug-more-details > :first-child,
      #twist-debug-details [class^="twist-debug-box-"] div.twist-debug-more-details > :last-child,
      #twist-debug-details [class*=" twist-debug-box-"] div.twist-debug-more-details > :first-child,
      #twist-debug-details [class*=" twist-debug-box-"] div.twist-debug-more-details > :last-child {
        margin-top: 0; }
    #twist-debug-details .twist-debug-box p,
    #twist-debug-details .twist-debug-box pre,
    #twist-debug-details [class^="twist-debug-box-"] p,
    #twist-debug-details [class^="twist-debug-box-"] pre,
    #twist-debug-details [class*=" twist-debug-box-"] p,
    #twist-debug-details [class*=" twist-debug-box-"] pre {
      padding: 20px;
      font-size: 14px; }
      #twist-debug-details .twist-debug-box p + p,
      #twist-debug-details .twist-debug-box p + pre,
      #twist-debug-details .twist-debug-box pre + p,
      #twist-debug-details .twist-debug-box pre + pre,
      #twist-debug-details [class^="twist-debug-box-"] p + p,
      #twist-debug-details [class^="twist-debug-box-"] p + pre,
      #twist-debug-details [class^="twist-debug-box-"] pre + p,
      #twist-debug-details [class^="twist-debug-box-"] pre + pre,
      #twist-debug-details [class*=" twist-debug-box-"] p + p,
      #twist-debug-details [class*=" twist-debug-box-"] p + pre,
      #twist-debug-details [class*=" twist-debug-box-"] pre + p,
      #twist-debug-details [class*=" twist-debug-box-"] pre + pre {
        padding-top: 0; }
    #twist-debug-details .twist-debug-box pre,
    #twist-debug-details [class^="twist-debug-box-"] pre,
    #twist-debug-details [class*=" twist-debug-box-"] pre {
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      overflow: auto;
      font-family: "Courier New", Courier, monospace, mono;
      line-height: 1.25;
      white-space: pre-line; }
  #twist-debug-details .twist-debug-box-red::after {
    background-color: #D32F2F; }
  #twist-debug-details .twist-debug-box-yellow::after {
    background-color: #FBC02D; }
  #twist-debug-details .twist-debug-box-blue::after {
    background-color: #1976D2; }
  #twist-debug-details .twist-debug-box-green::after {
    background-color: #689F38; }
  #twist-debug-details #twist-debug-timeline-chart {
    padding-top: 50px;
    position: relative;
    overflow: hidden; }
    #twist-debug-details #twist-debug-timeline-chart::before {
      height: 50px;
      position: absolute;
      top: 0;
      right: 0;
      left: 200px;
      background-color: #F09;
      content: ""; }
    #twist-debug-details #twist-debug-timeline-chart ul {
      margin-top: 10px;
      padding-left: 200px; }
    #twist-debug-details #twist-debug-timeline-chart li {
      width: 195px;
      height: 10px;
      margin-left: -200px;
      padding-right: 5px;
      padding-bottom: 10px;
      display: block;
      position: relative;
      overflow: visible;
      text-align: right;
      line-height: 20px; }
      #twist-debug-details #twist-debug-timeline-chart li::after {
        height: 1000px;
        position: absolute;
        right: 0;
        bottom: 10px;
        border-right: 1px #000 solid;
        content: ""; }

/*# sourceMappingURL=twist-debug.css.map */
