/* ===================================================== ANIMATION KEYFRAMES ===================================================== */
@-webkit-keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(-1000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(12px, 0, 0); }
  75% {
    transform: translate3d(-5px, 0, 0); }
  90% {
    transform: translate3d(2px, 0, 0); }
  100% {
    transform: none; } }
@-moz-keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(-1000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(12px, 0, 0); }
  75% {
    transform: translate3d(-5px, 0, 0); }
  90% {
    transform: translate3d(2px, 0, 0); }
  100% {
    transform: none; } }
@-ms-keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(-1000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(12px, 0, 0); }
  75% {
    transform: translate3d(-5px, 0, 0); }
  90% {
    transform: translate3d(2px, 0, 0); }
  100% {
    transform: none; } }
@-o-keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(-1000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(12px, 0, 0); }
  75% {
    transform: translate3d(-5px, 0, 0); }
  90% {
    transform: translate3d(2px, 0, 0); }
  100% {
    transform: none; } }
@keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(-1000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(12px, 0, 0); }
  75% {
    transform: translate3d(-5px, 0, 0); }
  90% {
    transform: translate3d(2px, 0, 0); }
  100% {
    transform: none; } }
/* ===================================================== GENERIC ===================================================== */
#twist-debug *,
#twist-debug-details * {
  margin: 0;
  padding: 0; }

/* ===================================================== DEBUG BAR ===================================================== */
#twist-debug {
  height: 30px;
  padding: 0 47px 0 0;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: visible;
  font-size: 10px;
  font-family: "Helvetica Neue Light", "Helvetica Neue", HelveticaNeue, Helvetica, "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #424242;
  border-top: 0.5px #757575 solid;
  z-index: 1338; }
  #twist-debug::after {
    width: 10px;
    position: absolute;
    top: 0;
    right: 47px;
    bottom: 0;
    background: #424242;
    background: -moz-linear-gradient(0deg, rgba(66, 66, 66, 0) 0%, #424242 100%);
    background: -webkit-linear-gradient(0deg, rgba(66, 66, 66, 0) 0%, #424242 100%);
    background: -o-linear-gradient(0deg, rgba(66, 66, 66, 0) 0%, #424242 100%);
    background: -ms-linear-gradient(0deg, rgba(66, 66, 66, 0) 0%, #424242 100%);
    background: linear-gradient(90deg, rgba(66, 66, 66, 0) 0%, #424242 100%);
    content: ""; }

#twist-debug-icon {
  display: block;
  position: absolute;
  right: 10px;
  bottom: 5px;
  -webkit-transition: padding ease 400ms;
  transition: padding ease 400ms; }
  #twist-debug-icon:hover {
    padding-bottom: 3px;
    -webkit-transition: padding ease 100ms;
    transition: padding ease 100ms; }
  #twist-debug-icon img {
    width: 32px;
    display: block; }

#twist-debug-blocks {
  width: 100%;
  overflow: auto;
  list-style: none;
  white-space: nowrap; }
  #twist-debug-blocks > li {
    display: inline-block;
    font-size: 1.25em;
    border-right: 0.5px #757575 solid; }
    #twist-debug-blocks > li:last-child {
      margin-right: 10px; }
    #twist-debug-blocks > li > a {
      padding: 0 10px;
      display: block;
      color: #FFF;
      line-height: 30px;
      text-decoration: none;
      -webkit-transition: background ease 400ms;
      transition: background ease 400ms; }
      #twist-debug-blocks > li > a:hover {
        background-color: #616161;
        -webkit-transition: background ease 100ms;
        transition: background ease 100ms; }
      #twist-debug-blocks > li > a.current {
        background-color: #616161; }
    #twist-debug-blocks > li i {
      margin-right: 5px; }
    #twist-debug-blocks > li .fa-stack-2x {
      text-shadow: 0 0 3px #424242; }

#twist-debug-errors,
#twist-debug-warnings,
#twist-debug-dumps {
  min-width: 8px;
  padding: 0 5px;
  display: inline-block;
  font-weight: 700;
  text-align: center;
  line-height: 18px;
  border-radius: 2px;
  transform: translate3d(-3000px, 0, 0); }

#twist-debug-errors,
#twist-debug-warnings {
  margin-right: 5px; }

#twist-debug-errors {
  background-color: #D32F2F;
  -webkit-animation: bounceInLeft 1s 1;
  -webkit-animation-delay: 0;
  -webkit-animation-fill-mode: forwards;
  -moz-animation: bounceInLeft 1s 1;
  -moz-animation-delay: 0;
  -moz-animation-fill-mode: forwards;
  -ms-animation: bounceInLeft 1s 1;
  -ms-animation-delay: 0;
  -ms-animation-fill-mode: forwards;
  -o-animation: bounceInLeft 1s 1;
  -o-animation-delay: 0;
  -o-animation-fill-mode: forwards;
  animation: bounceInLeft 1s 1;
  animation-delay: 0;
  animation-fill-mode: forwards; }

#twist-debug-warnings {
  background-color: #FBC02D;
  -webkit-animation: bounceInLeft 1s 1;
  -webkit-animation-delay: 100ms;
  -webkit-animation-fill-mode: forwards;
  -moz-animation: bounceInLeft 1s 1;
  -moz-animation-delay: 100ms;
  -moz-animation-fill-mode: forwards;
  -ms-animation: bounceInLeft 1s 1;
  -ms-animation-delay: 100ms;
  -ms-animation-fill-mode: forwards;
  -o-animation: bounceInLeft 1s 1;
  -o-animation-delay: 100ms;
  -o-animation-fill-mode: forwards;
  animation: bounceInLeft 1s 1;
  animation-delay: 100ms;
  animation-fill-mode: forwards; }

#twist-debug-dumps {
  background-color: #1976D2;
  -webkit-animation: bounceInLeft 1s 1;
  -webkit-animation-delay: 200ms;
  -webkit-animation-fill-mode: forwards;
  -moz-animation: bounceInLeft 1s 1;
  -moz-animation-delay: 200ms;
  -moz-animation-fill-mode: forwards;
  -ms-animation: bounceInLeft 1s 1;
  -ms-animation-delay: 200ms;
  -ms-animation-fill-mode: forwards;
  -o-animation: bounceInLeft 1s 1;
  -o-animation-delay: 200ms;
  -o-animation-fill-mode: forwards;
  animation: bounceInLeft 1s 1;
  animation-delay: 200ms;
  animation-fill-mode: forwards; }

/* ===================================================== DETAILS WINDOW ===================================================== */
#twist-debug-details {
  position: fixed;
  top: 100%;
  right: 0;
  bottom: 30px;
  left: 0;
  background-color: #EEE;
  z-index: 1337; }
  #twist-debug-details.show {
    top: 0; }
  #twist-debug-details > a {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1338; }
    #twist-debug-details > a::before, #twist-debug-details > a::after {
      height: 1px;
      position: absolute;
      top: 12px;
      right: 0;
      left: 0;
      background-color: #424242;
      content: ""; }
    #twist-debug-details > a::before {
      transform: rotate(45deg); }
    #twist-debug-details > a::after {
      transform: rotate(135deg); }
  #twist-debug-details > div {
    display: none;
    position: absolute;
    top: 20px;
    right: 45px;
    bottom: 20px;
    left: 10px;
    z-index: 1337; }

#twist-debug-timeline {
  padding-right: 10px;
  padding-left: 10px; }

#twist-debug-timeline-chart {
  padding-top: 50px;
  position: relative;
  overflow: hidden; }
  #twist-debug-timeline-chart::before {
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    left: 200px;
    background-color: #F90;
    content: ""; }
  #twist-debug-timeline-chart ul {
    margin-top: 20px;
    padding-left: 200px; }
  #twist-debug-timeline-chart li {
    width: 190px;
    height: 10px;
    margin-left: -200px;
    padding-right: 10px;
    padding-bottom: 10px;
    display: block;
    position: relative;
    overflow: visible;
    text-align: right;
    line-height: 20px; }
    #twist-debug-timeline-chart li::after {
      height: 1000px;
      position: absolute;
      right: 0;
      bottom: 10px;
      border-right: 1px #000 solid;
      content: ""; }

/*.hairlines,
.hairlines2 {
	#twist-debug-blocks {
		> li {
			border-right-width: 0.5px;
		}
	}
}*/

/*# sourceMappingURL=twist-debug.css.map */
