#twistDebug {
  z-index: 1001;
  font-family: Arial;
  font-size: 16px;
  color: #3d3d3d;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #333333;
  resize: vertical;
  height: 280px; }
  #twistDebug .twistDebugHeader {
    background-color: #003300;
    padding: 0 10px;
    position: relative; }
    #twistDebug .twistDebugHeader a {
      color: #FFF;
      font-weight: bold;
      text-decoration: none;
      margin-top: 5px;
      height: 28px;
      display: inline-block; }
      #twistDebug .twistDebugHeader a img {
        vertical-align: middle; }
      #twistDebug .twistDebugHeader a.toggleButton {
        position: absolute;
        right: 10px;
        bottom: 0; }
    #twistDebug .twistDebugHeader ul {
      display: inline-block;
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      right: 30px;
      bottom: 0; }
      #twistDebug .twistDebugHeader ul li {
        display: inline-block;
        margin: 0 5px;
        padding: 4px 8px 2px 8px;
        cursor: pointer;
        color: #FFF; }
        #twistDebug .twistDebugHeader ul li.current {
          background-color: #FFF;
          color: #003300;
          border-radius: 5px 5px 0 0; }
        #twistDebug .twistDebugHeader ul li:hover {
          background-color: #FFF;
          color: #003300;
          border-radius: 5px 5px 0 0; }
  #twistDebug .twistTabTitle {
    text-align: right;
    position: relative;
    padding: 10px; }
    #twistDebug .twistTabTitle strong {
      text-align: left;
      position: absolute;
      left: 10px; }
  #twistDebug .twistTabs {
    position: absolute;
    top: 34px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-color: #FFF; }
    #twistDebug .twistTabs > div.hide {
      display: none; }
    #twistDebug .twistTabs > div .phpError, #twistDebug .twistTabs > div .databaseQuery {
      border-top: 1px solid #CCC;
      padding: 6px; }
      #twistDebug .twistTabs > div .phpError span, #twistDebug .twistTabs > div .databaseQuery span {
        font-size: 12px;
        font-weight: bold; }
    #twistDebug .twistTabs > div .timer {
      margin: auto;
      width: 90%;
      border: 1px solid #222;
      height: 35px; }
      #twistDebug .twistTabs > div .timer span {
        display: inline-block;
        vertical-align: top;
        text-align: center;
        color: #FFF;
        font-weight: bold;
        padding-top: 10px;
        height: 25px; }
  #twistDebug.minimize {
    height: 34px; }
    #twistDebug.minimize .twistDebugHeader ul {
      display: none; }
    #twistDebug.minimize .twistTabs {
      display: none; }
